.AddTodoButton {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 15px;
    right: 20px;
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    font-weight: 900;
    font-size: 2.4em;
    padding: 10px;
    cursor: pointer;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 1;
}



.AddTodoButton.animatePlus {
    animation-name: PlusRotate;
}

.AddTodoButton.animateX {
    animation-name: Xrotate;
}

@keyframes PlusRotate {
    from {
        transform: rotate(225deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes Xrotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(225deg);
    } 
}