.TodoSearch {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 10px 14px;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    transition: border 0.4s, box-shadow 0.4s;
}

.TodoSearch:focus {
    border: 2px solid var(--action-color);
    box-shadow: 0 0 5px var(--action-color);
    outline: none;
}

