.TodoList {
    padding: 8px;
    margin: 7px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 40px;
}

@media screen and (max-width: 490px) {
    .TodoList {
        width: 90%;
    }
}
